version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: sample-app-zookeeper
    environment:
      ZOO_MY_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOO_ADMINSERVER_ENABLED: "false"
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "22181:2181"
    networks:
      - common-network

  clickhouse01:
    image: clickhouse/clickhouse-server:head-alpine
    container_name: goods-incomes-clickhouse-1
    env_file:
      - ./.env.template
    ports:
      - "8123:8123" # HTTP интерфейс
      - "9001:9000" # TCP интерфейс
    volumes:
      - ./scripts/init_clickhouse.sh:/docker-entrypoint-initdb.d/init_clickhouse.sh
      - ./configs/clickhouse1/config.xml:/etc/clickhouse-server/config.xml
      - sample-app-chdata-01:/var/lib/clickhouse
    depends_on:
      - zookeeper
    networks:
      - common-network

  clickhouse02:
    image: clickhouse/clickhouse-server:head-alpine
    container_name: goods-incomes-clickhouse-2
    env_file:
      - ./.env.template
    ports:
      - "8124:8123" # HTTP интерфейс
      - "9002:9000" # TCP интерфейс
    volumes:
      - ./scripts/init_clickhouse.sh:/docker-entrypoint-initdb.d/init_clickhouse.sh
      - ./configs/clickhouse2/config.xml:/etc/clickhouse-server/config.xml
      - sample-app-chdata-02:/var/lib/clickhouse
    depends_on:
      - zookeeper
    networks:
      - common-network

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: sample-app-kafka
    ports:
      - "29092:29092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - common-network

  panda:
    image: docker.redpanda.com/redpandadata/console:v2.3.8
    container_name: sample-app-panda
    depends_on:
      - kafka
    ports:
      - "28182:8080"
    environment:
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_TLS_ENABLED=false
      - KAFKA_SASL_ENABLED=false
    networks:
      - common-network

networks:
  common-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.23.0.0/24

volumes:
  sample-app-chdata-01:
  sample-app-chdata-02:
